.header {
  background-color: var(--color-fg-500);
  color: var(--color-bg-500);
  height: 4rem;
  display: flex;
  align-items: center;
}

.content {
  width: auto;
  margin-left: 1rem;
  margin-right: 1rem;
}

.header .content {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.main {
  margin-top: 2rem;
}

.extraTitle {
  display: none;
}

@media only screen and (min-width: 768px) {
  .extraTitle {
    display: inline;
  }
}

@media only screen and (min-width: 932px) {
  .content {
    margin: auto;
    width: 900px;
  }
}
