.wrapper {
  border: 1px solid var(--color-bg-300);
  border-radius: 2rem;
  display: flex;
  align-items: center;
  width: auto;
  padding-right: 1rem;
  transition: var(--animation-fade);
}

.wrapper img {
  transition: var(--animation-fade);
}

.wrapper:hover,
.wrapper:focus {
  box-shadow: var(--drop-shadow);
}

.wrapper:hover > img,
.wrapper:focus > img {
  transform: rotate(10deg);
}

.wrapper:focus {
  outline: none;
  border-color: var(--color-accent-500);
}

.image {
  width: 4rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.name {
  font-weight: 700;
}
